<div [ngSwitch]="switchNumber">
    <div *ngSwitchCase="1"> the number is 1</div>
    <div *ngSwitchCase="2"> the number is 2</div>
    <div *ngSwitchDefault> none of them</div>

</div>
<hr>
<button (click)="paidToggle()">toggle paid</button>
<div *ngIf="isPaid;else elseContent">PAID</div>
<ng-template #elseContent>
    not paid
</ng-template>
<hr>
<button (click)="listToggleFunction()">toggle list</button>
<div *ngIf="listToggle">
    <div *ngFor="let city of cities; index as  i;let isEven = even; let isOdd = odd ">
        <p [ngClass]="{ 'even-class': isEven, 'odd-class': isOdd }">
            {{ i }} - {{ city }}
        </p>
    </div>
</div>